@media screen and (max-width: 900px) {
  .front-page-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 500px 500px 500px 500px 500px 500px;
  }

  .front-page-content {
    height: 500px;
  }
}
